<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main id="app">
      <div id="feintCursorFollow"></div>
      <div class="navContainer">
        <div class="cont">
          <div class="smallDot"></div>
          <a href="#home">
            <p class="navLink">Home</p>
          </a>
        </div>
        <div class="cont">
          <div class="smallDot"></div>
          <a href="#projects"><p class="navLink">Projects</p></a>
        </div>
        <div class="cont">
          <div class="smallDot"></div>
          <p class="navLink">About Me</p>
        </div>
        <div class="cont">
          <div class="smallDot"></div>
          <p class="navLink">Contact</p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="firstSection section position-relative" id="home">
          <div
            class="row justify-content-center w-100 names-container"
            :style="{ height: containerHeight + 'px' }"
          >
            <div
              class="col-9 overflow-x-hidden nameContainer p-0"
              v-for="(name, index) in nameArray"
              :style="{transform: `translateY(${index * -60}px) ${index % 2 === 1 ? 'rotate(3.145rad)' : ''}`}"
              class="nameContainer"
            >
              <p class="text-center nameMarquee delay-1">{{name}}</p>
              <p class="text-center nameMarquee delay-2">{{name}}</p>
            </div>
          </div>
          <p class="scrollNoti">· SCROLL ·</p>
        </div>
        <div
          class="secondSection section position-relative flex-column"
          id="projects"
        >
          <h1 class="header text-center">Featured Projects</h1>
          <div class="row justify-content-center gy-2 position-relative">
            <div
              class="col-10 d-flex align-items-center position-relative"
              v-for="(project, index) in projects"
            >
              <div class="progressLine p-0 m-0" v-if="index == 0"></div>
              <div class="dot me-2"></div>
              <div
                class="image"
                :style="{backgroundImage: `url(${project.image})`}"
              ></div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 d-flex align-items-center">
              <a
                class="viewAllButton d-flex align-items-center"
                href="projects.html"
              >
                <p class="text-white m-0">View All Projects</p>
                <img src="img/arrow_right.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
    <!-- My JS -->
    <script src="index.js"></script>
  </body>
</html>
