@font-face {
     font-family: "Tex";
     src: url('fonts/tex.otf');
}

:root {
     --gap: 1rem;
     --spacer: 0;
}

html,body {
     scroll-snap-type: y proximity;
     scroll-behavior: smooth;

}

html,body,main {
     height: 100%;
}

body {
     background: #141414;
     overflow-x: hidden;
     
}
.dot {
     background-color: white;
     border-radius: 50%;
     width: 16px;
     height: 16px;
     
}
.section {
     scroll-snap-align: start;
}
.navLink {
     color: white;
     margin: 0;
     width: fit-content;
     font-family: "Tex";
     
}

a {
     text-decoration: none;
}

.navContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: fit-content;
     position: fixed;
     top: 32px;
     left: 32px;
     z-index: 10000000;
}

.nameMarquee {
     font-family: "Tex";
     color: white;
     font-size: 128px;
     text-wrap: nowrap;
}
.firstSection {
     height: 100vh;
     display: flex;
     align-items: center;
}
.secondSection {
     height: 100vh;
     display: grid;
     grid-template-rows: 192px 1fr 128px;
}
.header {
     color: white;
     font-size: 128px;
     font-family: "tex";
}
.image {
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     background-color: red;
}
.viewAllButton > p {
     font-family: "tex";
     position: relative;
}

.viewAllButton > p:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     /* transform: scaleX(0); */
     height: 2px;
     background: white;
     transition: 0.3s;
}
.viewAllButton > img {
     width: 24px;
     transform: translateY(2px);
     transition: 0.3s;
}
.viewAllButton:hover > img {
     transform: translateX(10px) translateY(2px);
}
.viewAllButton:hover p:after {
     /* transform: scaleX(1); */
     width: 100%;
}
.smallDot {
     background: #8ecae6;     
     width: 8px;
     height: 8px;
     border-radius: 50%;
     filter: blur(3px);
     margin-right: 10px;
     transform: translateY(1px);
     opacity: 0;
     transition: 0.3s;
}
.cont {
     display: flex;
     align-items: center ;
}
.cont:hover {
     cursor: pointer;
}
.cont:hover > .smallDot {
     opacity: 1;
}
.progressLine {
     height: calc( 200% + 10px);
     position: absolute;
     width: 3px;
     background: white;
     top: 50%;
     left: calc(12px + 8px);
}

.viewAllButton:hover {
     cursor: pointer;
}

#feintCursorFollow {
     background: white;
     position: absolute;
     aspect-ratio: 1/1;
     filter: blur(50px);
     opacity: 0.1;
     width: 30%;
     border-radius: 50%;
     z-index: -1;
     animation: changeShape 8s ease-in-out, rotateBlob 12s linear;
}

.nameContainer {
     display: flex;
     gap: var(--gap);
}

.nameMarquee {
     animation: scroll 20s linear infinite;
}

.delay1 {
     animation-delay: calc(20s / 2 * (2 - 1) * -1);
}

.delay2 {
     animation-delay: calc(20s / 2 * (2 - 2) * -1);
}

.scrollNoti {
     font-size: 20px;
     color: white;
     position: absolute;
     right: 32px;
     bottom: 32px;
     font-family: "tex";
}

#wrapper {
     position: relative;
     aspect-ratio: 1.618;
     width: 90vmin;
     justify-content: center;
     display: flex;
     align-items: center;
}

.box-1 {
     background-color: #3C91E6;
     position: absolute;
     transition: height  0.3s;
}

.box-2 {
     background-color: #F2ADB9;
     position: absolute;
     transition: height  0.3s;
}

.box-3 {
     background: #8BCA98;
     position: absolute;
     transition: height  0.3s;
}

.box-4 {
     background: #FF3549;
     position: absolute;
     transition: height  0.3s;
}

.box-5 {
     background: #6B4E71;
     position: absolute;
     transition: height  0.3s;
}

#wrapper.config1 {
     --spacer: 7%;
}


#wrapper.config1 > .box-1 {
     width: 8%;
     height: 50%;
     top: 0;
     left: var(--spacer);
}

#wrapper.config1 > .box-2 {
     width: 15%;
     height: 70%;
     top: 0;
     left: calc(8% + var(--spacer));
}

#wrapper.config1 > .box-3 {
     width: 15%;
     height: 70%;
     top: 20%;
     left: calc(23% + var(--spacer));
}

#wrapper.config1 > .box-4 {
     width: 8%;
     height: 50%;
     top: 20%;
     left:calc(38% + var(--spacer));
}

#wrapper.config1 > .box-5 {
     width: 40%;
     height: 100%;
     top: 0%;
     left: calc(46% + var(--spacer));
}

/* animation configuration number 2 */

#wrapper.config2 {
     --spacer: 4%;
}

#wrapper.config2 > .box-1 {
     width: 15%;
     height: 50%;
     top: 0;
     left: var(--spacer);
     border-radius:30px;
}

#wrapper.config2 > .box-2 {
     width: 30%;
     height: 50%;
     top: 50%;
     left: var(--spacer);
     border-radius: 50px;
}

#wrapper.config2 > .box-3 {
     width: 22%;
     height: 100%;
     top: 0%;
     border-radius: 50px;
     left: calc(30% + var(--spacer));
}

#wrapper.config2 > .box-4 {
     width: 15%;
     height: 50%;
     top: 0%;
     left:calc(15% + var(--spacer));
     border-radius: 30px;
}

#wrapper.config2 > .box-5 {
     width: 40%;
     height: 100%;
     top: 0%;
     left: calc(52% + var(--spacer));
     border-radius: 50px;
}

/* animation configuration number 3 */

#wrapper.config3 {
     --spacer: 2.5%;
}

#wrapper.config3 > .box-1 {
     width: 18%;
     aspect-ratio: 1;
     top: 15%;
     left: var(--spacer);
     border-radius:50%;
}

#wrapper.config3 > .box-2 {
     width: 35%;
     aspect-ratio: 1;
     top: 47%;
     left: var(--spacer);
     border-radius: 50%;
}

#wrapper.config3 > .box-3 {
     width: 22%;
     aspect-ratio: 1;
     top: 50%;
     border-radius: 50%;
     left: calc(35% + var(--spacer));
     z-index: 1;
}

#wrapper.config3 > .box-4 {
     width: 30%;
     aspect-ratio: 1;
     top: 0%;
     left: calc(19% + var(--spacer));
     border-radius: 50%;
     z-index: 1;
}

#wrapper.config3 > .box-5 {
     width: 60%;
     aspect-ratio: 1;
     top: 0%;
     left: calc(35% + var(--spacer));
     border-radius: 50%;
}




@keyframes scroll {
     to {
          transform: translateX(calc((-100% - var(--gap))));
     }
}

@keyframes rotateBlob {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}


@keyframes changeShape {
     0%, 100% {
          border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
     }
     20% {
          border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%;
     }
     40% {
     border-radius: 35% 65% 65% 35% / 65% 50% 50% 25%;
     } 60% {
          border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%;
     }
     80%{
     border-radius: 40% 60% 50% 50% / 30% 30% 70% 75%;
     }
}