@font-face {
     font-family: "Tex";
     src: url('fonts/tex.otf');
}

:root {
     --gap: 1rem;
     --spacer: 0;
     --color: black;
}

html,body,main {
     height: 100%;
}

body {
     background: #141414;
     overflow-x: hidden;
}

* {
     cursor: url('img/cursor/Normal\ Select.png'), auto;
}
 
a:hover {
     cursor: url("img/cursor/pointer.png"), auto !important;
}

.site-image:hover {
     cursor: url("img/cursor/pointer.png"), auto !important;
}

.tex {
     font-family: "tex";
}

.dot {
     background-color: white;
     border-radius: 50%;
     width: 16px;
     height: 16px;
     
}
.section {
     scroll-snap-align: start;
}
.navLink {
     color: white;
     margin: 0;
     width: fit-content;
     font-family: "Tex";
     
}

a {
     text-decoration: none;
}

.navContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: fit-content;
     position: fixed;
     top: 32px;
     left: 32px;
     z-index: 10000000;
     transform: translate(0,0);
     transition: all 1s;
}

.navContainer.hide {
     transform: translate(-159px, 0);
}

.nameMarquee {
     font-family: "Tex";
     color: white;
     font-size: 128px;
     text-wrap: nowrap;
}
.firstSection {
     height: 100vh;
     display: flex;
     align-items: center;
}
.secondSection {
     height: 100vh;
     display: grid;
     grid-template-rows: 72px 1fr 72px;
}
.thirdSection {
     height: 100vh;
     display: grid;
     grid-template-rows: 72px 1fr 128px;
}
.header {
     color: white;
     /* font-size: 128px; */
     font-family: "tex";
}
.image {
     height: 100%;
     width: 100%;
     background-size: 100%;
     background-position: center;
     background-repeat: no-repeat;
     /* background-color: red; */
     transition: background-size 0.2s ease, background-position 0.1s ease;
     position: relative;
}

.image:hover {
     background-size: 120%; /* zoom in on hover */
}

.viewAllButton > p {
     font-family: "tex";
     position: relative;
}

.viewAllButton > p:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 0;
     /* transform: scaleX(0); */
     height: 2px;
     background: white;
     transition: 0.3s;
}
.viewAllButton > img {
     width: 24px;
     transform: translateY(2px);
     transition: 0.3s;
}
.viewAllButton:hover > img {
     transform: translateX(10px) translateY(2px);
}
.viewAllButton:hover p:after {
     /* transform: scaleX(1); */
     width: 100%;
}

.viewAllButton > *:hover {
     cursor: url("img/cursor/pointer.png"), auto !important;
}

.smallDot {
     background: whitesmoke;     
     width: 8px;
     height: 8px;
     border-radius: 50%;
     filter: blur(3px);
     margin-right: 10px;
     transform: translateY(1px);
     opacity: 0;
     transition: 0.3s;
}
.cont {
     display: flex;
     align-items: center ;
}
.cont:hover,.cont *:hover {
     cursor: url('img/cursor/pointer.png'), auto;
}
.cont:hover > .smallDot {
     opacity: 1;
}
.progressLine {
     height: calc( 200% + 10px);
     position: absolute;
     width: 3px;
     background: white;
     top: 50%;
     left: calc(12px + 8px);
}

.viewAllButton:hover {
     cursor: url('img/cursor/pointer.png'), auto
}

#feintCursorFollow {
     background: white;
     position: absolute;
     aspect-ratio: 1/1;
     filter: blur(50px);
     opacity: 0.1;
     width: 30%;
     border-radius: 50%;
     z-index: -1;
     animation: changeShape 8s ease-in-out, rotateBlob 12s linear;
}

.nameContainer {
     display: flex;
     gap: var(--gap);
}

.nameMarquee {
     display: inline-block;
}

.scrollNoti {
     font-size: 20px;
     color: white;
     position: absolute;
     right: 32px;
     bottom: 32px;
     font-family: "tex";
}

#wrapper {
     position: relative;
     aspect-ratio: 1.618;
     width: 90vmin;
     justify-content: center;
     display: flex;
     align-items: center;
}

.shape {
     position: absolute;
     transition: all 1s;
     transform-origin: center center;
     scale: 1;
     display: flex;
     align-items: center;
     overflow: hidden;
}

.shape.inactive {
     scale: 0;
}

.box-1 {
     background-color: #3C91E6;  
}

.box-2 {
     background-color: #FDAE44;
}

.box-3 {
     background: rgb(222, 222, 222);
}

.box-4 {
     background: #FF3549;
     --color: white;
}

.box-4 img:not(.site-image, .tool-image) {
     filter: invert(1);    
}

.box-5 {
     background: #6B4E71;
     --color: white;
}

.box-5 img:not(.site-image, .tool-image) {
     filter: invert(1);    
}

#wrapper.config1 {
     --spacer: 7%;
}


#wrapper.config1 > .box-1 {
     width: 8%;
     height: 50%;
     top: 0;
     left: var(--spacer);
}

#wrapper.config1 > .box-2 {
     width: 15%;
     height: 70%;
     top: 0;
     left: calc(8% + var(--spacer));
}

#wrapper.config1 > .box-3 {
     width: 15%;
     height: 70%;
     top: 20%;
     left: calc(23% + var(--spacer));
}

#wrapper.config1 > .box-4 {
     width: 8%;
     height: 50%;
     top: 20%;
     left:calc(38% + var(--spacer));
}

#wrapper.config1 > .box-5 {
     width: 40%;
     height: 100%;
     top: 0%;
     left: calc(46% + var(--spacer));
}

/* animation configuration number 2 */

#wrapper.config2 {
     --spacer: 4%;
}

#wrapper.config2 > .box-1 {
     width: 15%;
     height: 50%;
     top: 0;
     left: var(--spacer);
     border-radius:30px;
}

#wrapper.config2 > .box-2 {
     width: 30%;
     height: 50%;
     top: 50%;
     left: var(--spacer);
     border-radius: 50px;
}

#wrapper.config2 > .box-3 {
     width: 22%;
     height: 100%;
     top: 0%;
     border-radius: 50px;
     left: calc(30% + var(--spacer));
}

#wrapper.config2 > .box-4 {
     width: 15%;
     height: 50%;
     top: 0%;
     left:calc(15% + var(--spacer));
     border-radius: 30px;
}

#wrapper.config2 > .box-5 {
     width: 40%;
     height: 100%;
     top: 0%;
     left: calc(52% + var(--spacer));
     border-radius: 50px;
}

/* animation configuration number 3 */

#wrapper.config3 {
     --spacer: 2.5%;
}

#wrapper.config3 > .box-1 {
     width: 18%;
     height: calc(18% * 1.618);
     top: 15%;
     left: var(--spacer);
     border-radius:50%;
}

#wrapper.config3 > .box-2 {
     width: 35%;
     height: calc(35% * 1.618);
     top: 47%;
     left: var(--spacer);
     border-radius: 50%;
}

#wrapper.config3 > .box-3 {
     width: 22%;
     height: calc(22% * 1.618);
     top: 50%;
     border-radius: 50%;
     left: calc(35% + var(--spacer));
     z-index: 1;
}

#wrapper.config3 > .box-4 {
     width: 30%;
     height: calc(30% * 1.618);
     top: 0%;
     left: calc(19% + var(--spacer));
     border-radius: 50%;
     z-index: 1;
}

#wrapper.config3 > .box-5 {
     width: 60%;
     height: calc(60% * 1.618);
     top: 0%;
     left: calc(35% + var(--spacer));
     border-radius: 50%;
}

.shape.active {
     width: 100vw !important;
     height: 100vh !important;
     border-radius: 0 !important;
     z-index: 3;
     transform-origin: center center;
     pointer-events: none;
}

.shape.active > * {
     pointer-events: auto;
     opacity: 1;
}

.shape > * {
     pointer-events: none;
     color: var(--color);
}

.shape:hover {
     cursor: url('img/cursor/pointer.png'), auto;
}

.shape:hover .text_image {
     opacity: 1;
}

.shape .text_image {
     height: 90%;
     margin-left: 2rem;
     opacity: 0;
     transition: all 400ms;
}

.shape.active .text_image {
     opacity: 1;
}

.text_image:hover {
     cursor: url("img/cursor/pointer.png"), auto !important;
}

.shape.active .text_image:hover {
     cursor: url("img/cursor/Normal\ Select.png"), auto;
}

.box-2 .text_image {
     filter: brightness(0);
}

.section-container {
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     position: relative;
     transition: transform 700ms cubic-bezier(.77,.29,.23,.84);
}

.goBackBtn, .goFwdBtn {
     position: fixed;
     height: 100%;
     width: 10vw;
     z-index: 3;
     display: none;
}

.goBackBtn {
     left: 0;
     top: 0;
}

.goFwdBtn {
     top: 0;
     right: 0;
}

.shape.active .goBackBtn {
     display: block;
}
.shape.active .goFwdBtn {
     display: block;
}

.goBackBtn:hover{
     cursor: url("img/cursor/left_cursor.png"), auto;
}

.goFwdBtn:hover {
     cursor: url("img/cursor/right_cursor.png"), auto;
}

.slide {
     height: 100vh;
     position: relative;
}

.slide-header {
     padding: 32px 5vw;
     width: 100%;
     transform: translate(0,0);
     transition: transform 700ms cubic-bezier(.77,.29,.23,.84);
     position: relative;
     z-index: 1000;
}

.slide-header-image {
     height: 8px;
}

.slide-header-close {
     width: 16px;
     right: 5vw;
     top: 32px;
     position: fixed;
     z-index: 1000;
     opacity: 0;
}

.slide-header-close:hover {
     cursor: url("img/cursor/pointer.png"), auto !important;
}

.slide-body {
     width: 100vw;
     height: calc(100% - 80px);
     padding: 0 10vw 80px 10vw;
}

.description > p {
     height: fit-content;
     font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
     font-size: .75rem;
}

.tool-image {
     height: 50px;
}

.tool-container {
     border: var(--color) 3px solid ;
     border-radius: 10px;
     display: flex;
     align-items: space-between;
     flex-direction: column;
     padding: 10px;
     height: 100%;
}

.site-image {
     border: var(--color) 3px solid;
}

@keyframes rotateBlob {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}


@keyframes changeShape {
     0%, 100% {
          border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
     }
     20% {
          border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%;
     }
     40% {
     border-radius: 35% 65% 65% 35% / 65% 50% 50% 25%;
     } 60% {
          border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%;
     }
     80%{
     border-radius: 40% 60% 50% 50% / 30% 30% 70% 75%;
     }
}